<% layout("Layouts/boilerplate") %>
<body>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4 dept m-0" >
            <div class="col">
                <a href="/departments/BCA">
                    <div class=" deptName card">
                        <img src="/Assets/computer_science.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Department of Computer Science</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col ">
                <a href="departments/IT">
                    <div class=" deptName card">
                        <img src="/Assets/information_technology.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Department of Information Technology</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="departments/FST">
                    <div class=" deptName card">
                        <img src="/Assets/Food_Science.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Department of Food Science & Technology</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="departments/History">
                    <div class=" deptName card">
                        <img src="/Assets/History.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Department of History</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="departments/DPharma">
                    <div class=" deptName card">
                        <img src="/Assets/D.Pharma.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Department of Pharmacy (D.Pharma)</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="departments/BPharma">
                    <div class=" deptName card">
                        <img src="/Assets/B.Pharma.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Department of Pharmacy (B.Pharma)</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="departments/Commerce">
                    <div class=" deptName card">
                        <img src="/Assets/Commerce.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Department of Commerce</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="departments/English">
                    <div class=" deptName card">
                        <img src="/Assets/English.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Department of English</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="departments/Sociology">
                    <div class=" deptName card">
                        <img src="/Assets/Sociology.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Department of Sociology</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="departments/PoliticalScience">
                    <div class="deptName card">
                        <img src="/Assets/Political_Science.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Department of Political Science</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>