<% layout("Layouts/boilerplate") %>
<body>
  <main>
    <div class="head"><h1>Attendance System</h1></div>
    <div class="card mt-4" style="width: max-content;">
        <a href="/departments"><img src="/images/attendance.webp" class="card-img" alt="..."></a>
    </div>
    <div class="head"><h1>Everyday Matters...</h1></div> 
  </main>
</body>
