<% layout("Layouts/boilerplate") %>
<body>
    <div class="container submitted">
    <span class="material-symbols-outlined"  style="font-size:40px;color:rgb(13, 190, 69);">
    check_circle
    </span>
    <div><h2>Thank You!</h2>
    <p>The attendence was submitted successfully.</p></div>
    <a href="/departments/<%-courseName%>"><button class="btn btn-outline-primary">Close</button></a>
    </div>
</body>
