<% layout("Layouts/boilerplate") %>
<div class="container warning-container mt-5 d-flex justify-content-center align-items-center flex-column">
    <div class="alert alert-danger " style="width: 40 rem;" role="alert"> 
        <i class="bi bi-exclamation-triangle-fill text-danger "></i> <br>
        <li><%-msg%></li>
        </div>
</div>