<header>
    <div class="header-left">
      <img src="/images/logo.png" alt="BBAU Logo">
    </div>
  
    <div class="header-center">
      <h1>BABASAHEB BHIMRAO AMBEDKAR UNIVERSITY</h1>
      <h2>Satellite Centre Amethi</h2>
      <p class="accreditation">Accredited by the NAAC Grade A++</p>
    </div>
  
    <div class="header-right">
      <img src="/images/ambedkar.jpg" alt="Dr. B.R. Ambedkar">
    </div>
  </header>
  