.submitted {
  text-align: center;
  border: 2px solid rgb(117, 146, 117);
  margin-top: 10% !important;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  max-width: 600px;  /* wider width for larger screens */
  width: 90%;        /* take 90% on small screens */
  margin: auto;
}

button {
  display: block;
  margin: 20px auto 0 auto;
  border: 2px solid;
}

span {
  margin-top: 30px;
}
